In [1]:
import os 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import glob
import calendar

pd.options.display.max_columns = None
pd.options.display.max_rows = None
warnings.filterwarnings('ignore')

os.chdir("E:/Trinity/Dissertation/Sem 3/models/data/")

In [19]:
#Vehicle types based on class id
def addVehicleType(vehicleclassid):
    if vehicleclassid in (6,16,19,59,74,77,85,90,96,98,105):
        return "Motor Cycle"
    elif vehicleclassid in (1,10,11,28,40,47,50,52,65,66,69,80,100,101):
        return "Motor Car"
    elif vehicleclassid in (2,12,20,29,30,44,45,68,70,76,81,86,107):
        return "Bus (L)"
    elif vehicleclassid in (3,13,21,54,55,57,78,79,82,87,108):
        return "Bus (H)"
    elif vehicleclassid in (4,14,22,31,32,37,49,51,64,71,83,92,99,104):
        return "LGV"
    elif vehicleclassid in (7,15,23,33,34,41,42,46,67,72,84,88,94):
        return "HGV (2 Axles)"
    elif vehicleclassid in (8,17,24,56,58,60,61,75,95,102):
        return "HGV (3 Axles)"
    elif vehicleclassid in (5,18,25,35,36,38,43,48,53,73,97):
        return "HGV (4 Axles)"
    else:
        return "NA"

In [ ]:
def addTollName(plazaid):
    if plazaid in (1416,1417):
        return "Limerick Tunnel"
    elif plazaid in (1415,2885,2886):    # 0 added as dummy ---- TO-DO
        return "M1"
    elif plazaid in (2862,2861):
        return "M3"
    elif plazaid in (2863,2864,2865,2866):
        return "M4"
    elif plazaid in (1420,1421):
        return "M50"
    elif plazaid in (1419,0):
        return "M7-M8"
    elif plazaid in (1423,0):
        return "Dublin Tunnel"
    elif plazaid in (1424,0):
        return "Eastlink"
    elif plazaid in (1422,0):
        return "N25"
    elif plazaid in (1418,0):
        return "N6"
    elif plazaid in (2869,2870):
        return "M8"
    else:
        return "--"

### From CounterData

In [32]:
ctr = pd.read_csv('F:/counterData/2019-01-01.csv')
ctr_s = ctr[(ctr["cosit"]==1508) & (ctr["lanename"].str.startswith("Southbound"))]
ctr_n = ctr[(ctr["cosit"]==1508) & (ctr["lanename"].str.startswith("Northbound"))]

In [33]:
print(ctr_s["lanename"].unique())
print(ctr_n["lanename"].unique())

['Southbound 3' 'Southbound 2' 'Southbound 1' 'Southbound 4']
['Northbound 2' 'Northbound 3' 'Northbound 1' 'Northbound 4']

In [34]:
print(ctr_s["classname"].value_counts())
print(ctr_n["classname"].value_counts())

CAR        34337
LGV         1247
HGV_ART      494
BUS          219
HGV_RIG      177
MBIKE        108
CARAVAN       34
Name: classname, dtype: int64
CAR        35234
LGV         1546
HGV_ART      464
HGV_RIG      158
BUS          112
MBIKE         54
CARAVAN       43
Name: classname, dtype: int64

In [8]:
#journeys = pd.read_csv('D:/journeys.csv')

### From TollData

In [177]:
xls = pd.ExcelFile('E:/Trinity/Dissertation/Sem 3/Columns.xlsx')
col_names = list(pd.read_excel(xls).columns)
data = pd.read_csv("2019-04-14.csv", names = col_names)

In [170]:
data1420 = data[data["entryplazaid"]==1420]
data1421 = data[data["entryplazaid"]==1421]

In [171]:
data1420["vehicleType"] = data1420["vehicleclassid"].apply(addVehicleType)
data1421["vehicleType"] = data1421["vehicleclassid"].apply(addVehicleType)

In [172]:
print(data1420["vehicleType"].value_counts())
print(data1421["vehicleType"].value_counts())

Motor Car        6132
HGV (2 Axles)    1111
NA                694
HGV (4 Axles)     288
HGV (3 Axles)     151
LGV               107
Bus (H)            68
Bus (L)            24
Motor Cycle         6
Name: vehicleType, dtype: int64
Motor Car        6712
HGV (2 Axles)    1180
NA                796
HGV (4 Axles)     299
HGV (3 Axles)     162
LGV               148
Bus (H)            62
Bus (L)            31
Motor Cycle        10
Name: vehicleType, dtype: int64

### From Journeys

In [173]:
journeys = data[data['tagid'].duplicated(keep=False)]

In [174]:
journeys = journeys[journeys["entryplazaid"]==1420]

In [175]:
journeys["vehicleType"] = journeys["vehicleclassid"].apply(addVehicleType)
journeys["vehicleType"].value_counts()

Motor Car        4795
HGV (2 Axles)     898
NA                533
HGV (4 Axles)     261
HGV (3 Axles)     136
LGV                93
Bus (H)            63
Bus (L)            23
Motor Cycle         5
Name: vehicleType, dtype: int64

### Percentage

In [176]:
#Try with different dates
print(len(journeys))
print(len(data1420))
print((len(journeys)/len(data1420))*100)

6807
8581
79.32641883230393